<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            margin : 24px;
            background-color : #eeeeee;
            border : #666666 solid 6px;
            padding: 12px;
            font-family: sans-serif;
        }
        #mainDiv {
            padding: 20px;
            border: solid 3pt #222222;
            font-size: 20pt
        }
    </style>
</head>
<body>
    <h1>Product Information</h1>
    <div id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
